@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* background-color: #fcfbfb; */
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(/media/background.jpg);
    background-attachment: fixed;
}

header {
    width: 100%;
    padding: 30px 4% 10px;
    /* background-color: transparent; */
    background-color: #ffffffc2;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 30px;
}

h1>a {
    text-decoration: none;
    color: #000000;
}

header ul {
    margin: 0;
    display: flex;
}

header li {
    margin: 0 0 0 30px;
    font-size: 15px;
}

header li :hover {
    box-shadow: 0 3px 6px 0 rgba(242, 209, 138, 0.924);
    transform: translateY(-3.1875em);
}

header nav {
    margin: 0 0 0 auto;
}

/*  */



/* ページの見出し */
h2 {
    text-align: center;
    font-size: 40px;
    color: #000000;
    margin-top: 5rem;
}

/* リンクの色と下線 */
nav a {
    text-decoration: none;
    color: #000000;
}

/* headerの点消去 */
ul>li {
    list-style: none;
}




/* 選択ボタン */
section>nav>ul {
    text-align: center;
}

/* 選択ボタン */
section>nav li {
    font-weight: bold;
    text-decoration: none;
    display: inline;
    margin: 10px;
    /* 角を丸める */
    border-radius: 10px;
    /* パディング */
    padding: 10px 50px;
    background: linear-gradient(#f7a72e61, rgba(78, 182, 210, 0.866));
}

section>nav li:hover {
    opacity: 0.6;
}

.center {
    text-align: center;
    margin-top: 10vh;
}


/* 選択ボタン */
section>nav>ul {
    text-align: center;
}

/* 選択ボタン */
section>nav li {
    font-weight: bold;
    text-decoration: none;
    display: inline;
    margin: 10px;
    /* 角を丸める */
    border-radius: 10px;
    /* パディング */
    padding: 10px 50px;
    background: linear-gradient(#f7a72e61, rgba(78, 182, 210, 0.866));
}

section>nav li:hover {
    opacity: 0.6;
}

.center {
    text-align: center;
    margin-top: 10vh;
}

h3 {
    text-align: center;
    margin-top: 10vh;
    font-size: 30px;
    color: rgb(185, 119, 13);
}

/* class */
.container {
    /* グリッドコンテナの定義 */
    display: grid;

    /* グリッド列の定義 */
    grid-template-columns: 1fr 1fr;


    /* グリッドアイテム間のギャップ */
    /* 列 */
    column-gap: 50px;


    /* グリッド行の定義 : 1行目 2行目 3行目 ...*/
    grid-template-rows: 0.1fr 0.1fr;
}

.container p {
    font-size: 25px;
    font-weight: bold;
    /* margin: 10px 30px 10px 0px; */
}

#topm {
    margin: 1fr 20px 1fr 20px;
}

p>span {
    color: rgb(13, 119, 185);
}


ol>li {
    font-size: 20px;
}

/* 参考https://kodocode.net/design-css-table/    表の大きさを800pxから100%へ変更 */

HTML CSS JSResult Skip Results Iframe EDIT ON body {
    background: #fafafa url(https://jackrugile.com/images/misc/noise-diagonal.png);
    color: #444;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 100%;
}

th {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    border-left: 1px solid #777;
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
    background: #f1f1f1 url(https://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
    color: #444;
    text-shadow: 0 1px 0 #fff;
}

/* https://jp-seemore.com/web/3513/#:~:text=%E2%97%8FJavascript%E3%81%A7%E5%8B%95%E3%81%8D%E3%81%AE%E3%81%82%E3%82%8B%E3%82%B5%E3%82%A4%E3%83%88%E3%82%92%E4%BD%9C%E3%82%8B%E5%9F%BA%E6%9C%AC%20%E2%97%8BHTML%E3%81%A8CSS%20%E2%97%8FJavascript%E3%81%A7%E5%8B%95%E3%81%8D%E3%82%92%E3%81%A4%E3%81%91%E3%82%8B10%E3%81%AE%E6%96%B9%E6%B3%95,%E2%97%8B%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%82%B3%E3%83%BC%E3%83%891%EF%BC%9A%E7%94%BB%E5%83%8F%E3%82%B9%E3%83%A9%E3%82%A4%E3%83%80%E3%83%BC%20%E2%97%8B%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%82%B3%E3%83%BC%E3%83%892%EF%BC%9A%E3%83%89%E3%83%AD%E3%83%83%E3%83%97%E3%83%80%E3%82%A6%E3%83%B3%E3%83%A1%E3%83%8B%E3%83%A5%E3%83%BC%20%E2%97%8B%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%82%B3%E3%83%BC%E3%83%893%EF%BC%9A%E3%83%A2%E3%83%BC%E3%83%80%E3%83%AB%E3%82%A6%E3%82%A3%E3%83%B3%E3%83%89%E3%82%A6%20%E2%97%8B%E3%82%B5%E3%83%B3%E3%83%97%E3%83%AB%E3%82%B3%E3%83%BC%E3%83%894%EF%BC%9A%E3%82%A2%E3%82%B3%E3%83%BC%E3%83%87%E3%82%A3%E3%82%AA%E3%83%B3 */
.animated {
    opacity: 0;
    transition: opacity 0.5s;
}

.visible {
    opacity: 1;
}
